flows.json
[{"id":"d9fe96b5.8701c8","type":"tab","label":"Simple automations","disabled":false,"info":""},{"id":"670bc302.cb732c","type":"subflow","name":"Notify HA apps","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"84ad30fc.48f4e"}]}],"out":[],"env":[{"name":"message","type":"str","value":""},{"name":"log.name","type":"str","value":""},{"name":"log.entity_id","type":"str","value":""},{"name":"log.message","type":"str","value":""}],"color":"#DDAA99"},{"id":"3efaa203.1c443e","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":false},{"id":"fea39eb8.12411","type":"comment","z":"d9fe96b5.8701c8","name":"Notifiy about rain","info":"","x":120,"y":60,"wires":[]},{"id":"a4a51bd5.cbf1a8","type":"server-state-changed","z":"d9fe96b5.8701c8","name":"If it's rainy","server":"3efaa203.1c443e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"weather.kpvu_hourly","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"rainy","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["f5b4874.c820978"],[]]},{"id":"cfbda5ba.dea498","type":"inject","z":"d9fe96b5.8701c8","name":"3 AM everyday ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["c499881d.445368"]]},{"id":"795b7b3e.e3f064","type":"api-call-service","z":"d9fe96b5.8701c8","name":"Start vacuum","server":"3efaa203.1c443e","version":1,"debugenabled":false,"service_domain":"vacuum","service":"start","entityId":"vacuum.roborock","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":550,"y":340,"wires":[[]]},{"id":"c499881d.445368","type":"api-call-service","z":"d9fe96b5.8701c8","name":"Set max fan speed","server":"3efaa203.1c443e","version":1,"debugenabled":false,"service_domain":"vacuum","service":"set_fan_speed","entityId":"vacuum.roborock","data":"{\"fan_speed\":\"max\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":350,"y":340,"wires":[["795b7b3e.e3f064"]]},{"id":"f2f183f9.0381c","type":"comment","z":"d9fe96b5.8701c8","name":"Run vacumm every morning","info":"","x":160,"y":300,"wires":[]},{"id":"3e215458.36073c","type":"server-state-changed","z":"d9fe96b5.8701c8","name":"Vacuum error","server":"3efaa203.1c443e","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"vacuum.roborock","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"error","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":420,"wires":[["35e31cc.f48d0e4"],[]]},{"id":"d5b4c56e.e9c588","type":"trigger-state","z":"d9fe96b5.8701c8","name":"Rain stopped","server":"3efaa203.1c443e","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"weather.kpvu_hourly","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"p7a1tr6c15","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"rainy"},{"id":"vrfqo44y8r","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"rainy"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":110,"y":180,"wires":[["3a56fc83.520e04"],[]]},{"id":"84ad30fc.48f4e","type":"api-call-service","z":"670bc302.cb732c","name":"Notify HA apps","server":"3efaa203.1c443e","version":1,"debugenabled":true,"service_domain":"notify","service":"all_phone_app","entityId":"","data":"$merge([{\t    \"message\": $env('message')\t}])","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":240,"y":100,"wires":[["771ce7d6.d75c18"]]},{"id":"771ce7d6.d75c18","type":"api-call-service","z":"670bc302.cb732c","name":"Log","server":"3efaa203.1c443e","version":1,"debugenabled":false,"service_domain":"logbook","service":"log","entityId":"","data":"$merge(\t   [\t       {\t           \"name\": $env('log.name'),\t           \"entity_id\": $env('log.entity_id'),\t           \"message\": $env('log.message'),\t           \"domain\": \"notify\"\t        }\t   ]\t)","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":100,"wires":[[]]},{"id":"3a56fc83.520e04","type":"rbe","z":"d9fe96b5.8701c8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":290,"y":180,"wires":[["442ab0e0.9b202"]]},{"id":"442ab0e0.9b202","type":"subflow:670bc302.cb732c","z":"d9fe96b5.8701c8","name":"","env":[{"name":"message","value":"⛅ It stopped raining","type":"str"},{"name":"log.name","value":"Weather (Node Red)","type":"str"},{"name":"log.entity_id","value":"weather.kpvu_hourly","type":"str"},{"name":"log.message","value":"notified rain stopped","type":"str"},{"name":"log_name","value":"Weather (Node Red)","type":"str"},{"name":"log_message","value":"notified rain stopped","type":"str"}],"x":460,"y":180,"wires":[]},{"id":"f5b4874.c820978","type":"subflow:670bc302.cb732c","z":"d9fe96b5.8701c8","name":"","env":[{"name":"message","value":"🌧️ It might be raining","type":"str"},{"name":"log.name","value":"Weather (Node Red)","type":"str"},{"name":"log.entity_id","value":"weather.kpvu_hourly","type":"str"},{"name":"log.message","value":"notified rain","type":"str"}],"x":300,"y":100,"wires":[]},{"id":"35e31cc.f48d0e4","type":"subflow:670bc302.cb732c","z":"d9fe96b5.8701c8","name":"","env":[{"name":"message","value":"🧹️ ⚠️ Vacuum in error state","type":"str"},{"name":"log.name","value":"Roborock (Node Red)","type":"str"},{"name":"log.entity_id","value":"vacuum.roborock","type":"str"},{"name":"log.message","value":"notified error","type":"str"},{"name":"log_name","value":"Weather (Node Red)","type":"str"},{"name":"log_message","value":"notified rain stopped","type":"str"}],"x":320,"y":420,"wires":[]},{"id":"7c8c59df.9fc818","type":"comment","z":"670bc302.cb732c","name":"Notify HA apps & logs to HA","info":"","x":160,"y":40,"wires":[]}]