flows.json
[
    {
        "id": "d9fe96b5.8701c8",
        "type": "tab",
        "label": "Simple automations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b88bc227.1b73f",
        "type": "tab",
        "label": "Listen to mobile actions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "670bc302.cb732c",
        "type": "subflow",
        "name": "Notify HA apps",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "84ad30fc.48f4e"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "notification",
                "type": "json",
                "value": "{\"title\":\"\",\"message\":\"\",\"data\":{\"tag\":\"\",\"priority\":\"normal\",\"ttl\":0}}"
            },
            {
                "name": "log",
                "type": "json",
                "value": "{\"name\":\"\",\"entity_id\":\"\",\"message\":\"\",\"domain\":\"notify\"}"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "3efaa203.1c443e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false
    },
    {
        "id": "fea39eb8.12411",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Notifiy about rain",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4a51bd5.cbf1a8",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "If it's rainy",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "weather.kpvu_hourly",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "rainy",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "f5b4874.c820978"
            ],
            []
        ]
    },
    {
        "id": "cfbda5ba.dea498",
        "type": "inject",
        "z": "d9fe96b5.8701c8",
        "name": "3 AM everyday ",
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "c499881d.445368"
            ]
        ]
    },
    {
        "id": "795b7b3e.e3f064",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Start vacuum",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "start",
        "entityId": "vacuum.roborock",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c499881d.445368",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Set max fan speed",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "set_fan_speed",
        "entityId": "vacuum.roborock",
        "data": "{\"fan_speed\":\"max\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "795b7b3e.e3f064"
            ]
        ]
    },
    {
        "id": "f2f183f9.0381c",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Run vacumm every morning",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e215458.36073c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Vacuum error",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "vacuum.roborock",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "error",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "35e31cc.f48d0e4"
            ],
            []
        ]
    },
    {
        "id": "d5b4c56e.e9c588",
        "type": "trigger-state",
        "z": "d9fe96b5.8701c8",
        "name": "Rain stopped",
        "server": "3efaa203.1c443e",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "weather.kpvu_hourly",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "p7a1tr6c15",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "rainy"
            },
            {
                "id": "vrfqo44y8r",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "rainy"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "442ab0e0.9b202"
            ],
            []
        ]
    },
    {
        "id": "84ad30fc.48f4e",
        "type": "api-call-service",
        "z": "670bc302.cb732c",
        "name": "Notify HA apps",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": true,
        "service_domain": "notify",
        "service": "all_phone_app",
        "entityId": "",
        "data": "$env('notification')",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 240,
        "y": 100,
        "wires": [
            [
                "771ce7d6.d75c18"
            ]
        ]
    },
    {
        "id": "771ce7d6.d75c18",
        "type": "api-call-service",
        "z": "670bc302.cb732c",
        "name": "Log",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "$env('log')",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "442ab0e0.9b202",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "{\"title\":\"Weather\",\"message\":\"⛅ It stopped raining\",\"data\":{\"tag\":\"weather.rain.stop\",\"priority\":\"normal\",\"ttl\":0}}",
                "type": "json"
            },
            {
                "name": "log",
                "value": "{\"name\":\"Weather (Node Red)\",\"entity_id\":\"weather.kpvu_hourly\",\"message\":\"notified rain stopped\",\"domain\":\"notify\"}",
                "type": "json"
            },
            {
                "name": "message",
                "value": "⛅ It stopped raining",
                "type": "str"
            },
            {
                "name": "log.name",
                "value": "Weather (Node Red)",
                "type": "str"
            },
            {
                "name": "log.entity_id",
                "value": "weather.kpvu_hourly",
                "type": "str"
            },
            {
                "name": "log.message",
                "value": "notified rain stopped",
                "type": "str"
            },
            {
                "name": "log_name",
                "value": "Weather (Node Red)",
                "type": "str"
            },
            {
                "name": "log_message",
                "value": "notified rain stopped",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 180,
        "wires": []
    },
    {
        "id": "f5b4874.c820978",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "{\"title\":\"Weather\",\"message\":\"🌧️ It might be raining\",\"data\":{\"tag\":\"weather.rain.start\",\"priority\":\"high\",\"ttl\":0}}",
                "type": "json"
            },
            {
                "name": "log",
                "value": "{\"name\":\"Weather (Node Red)\",\"entity_id\":\"weather.kpvu_hourly\",\"message\":\"notified rain\",\"domain\":\"notify\"}",
                "type": "json"
            },
            {
                "name": "message",
                "value": "🌧️ It might be raining",
                "type": "str"
            },
            {
                "name": "log.name",
                "value": "Weather (Node Red)",
                "type": "str"
            },
            {
                "name": "log.entity_id",
                "value": "weather.kpvu_hourly",
                "type": "str"
            },
            {
                "name": "log.message",
                "value": "notified rain",
                "type": "str"
            }
        ],
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "35e31cc.f48d0e4",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "{\"title\":\"Roborock Vacuum\",\"message\":\"🧹️ ⚠️ Vacuum in error state\",\"data\":{\"tag\":\"\",\"priority\":\"high\",\"ttl\":0,\"actions\":[{\"title\":\"Find robot\",\"action\":\"notification.vacuum.roborock.find\"}]}}",
                "type": "json"
            },
            {
                "name": "log",
                "value": "{\"name\":\"Roborock (Node Red)\",\"entity_id\":\"vacuum.roborock\",\"message\":\"notified error\",\"domain\":\"notify\"}",
                "type": "json"
            },
            {
                "name": "message",
                "value": "🧹️ ⚠️ Vacuum in error state",
                "type": "str"
            },
            {
                "name": "log.name",
                "value": "Roborock (Node Red)",
                "type": "str"
            },
            {
                "name": "log.entity_id",
                "value": "vacuum.roborock",
                "type": "str"
            },
            {
                "name": "log.message",
                "value": "notified error",
                "type": "str"
            },
            {
                "name": "log_name",
                "value": "Weather (Node Red)",
                "type": "str"
            },
            {
                "name": "log_message",
                "value": "notified rain stopped",
                "type": "str"
            }
        ],
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "7c8c59df.9fc818",
        "type": "comment",
        "z": "670bc302.cb732c",
        "name": "Notify HA apps & logs to HA",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "623970e8.0aa2f",
        "type": "server-events",
        "z": "b88bc227.1b73f",
        "name": "",
        "server": "3efaa203.1c443e",
        "event_type": "mobile_app_notification_action",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 190,
        "y": 60,
        "wires": [
            [
                "3c2f703.3aecf9"
            ]
        ]
    },
    {
        "id": "3c2f703.3aecf9",
        "type": "switch",
        "z": "b88bc227.1b73f",
        "name": "",
        "property": "payload.event.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "notification.vacuum.roborock.find",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "752d962a.3714c8"
            ]
        ]
    },
    {
        "id": "752d962a.3714c8",
        "type": "api-call-service",
        "z": "b88bc227.1b73f",
        "name": "Find robot",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "locate",
        "entityId": "vacuum.roborock",
        "data": "{ \"entity_id\": \"vacuum.roborock\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "86155ad9.0e3948",
        "type": "trigger-state",
        "z": "d9fe96b5.8701c8",
        "name": "Returning -> idle",
        "server": "3efaa203.1c443e",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "vacuum.roborock",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "h1ngdedqwxn",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "idle"
            },
            {
                "id": "b1079kse1vh",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "returning"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "757b6e2f.9ab07"
            ],
            []
        ]
    },
    {
        "id": "757b6e2f.9ab07",
        "type": "counter",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "3a0ece42.9ee4a2"
            ]
        ]
    },
    {
        "id": "ae0bccbd.b0688",
        "type": "inject",
        "z": "d9fe96b5.8701c8",
        "name": "Reset per hour",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "757b6e2f.9ab07"
            ]
        ]
    },
    {
        "id": "3a0ece42.9ee4a2",
        "type": "switch",
        "z": "d9fe96b5.8701c8",
        "name": "Counter >= 2",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "2",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 500,
        "wires": [
            [
                "a757987a.0ac398",
                "cd020188.01388"
            ]
        ]
    },
    {
        "id": "a757987a.0ac398",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "{\"title\":\"Roborock Vacuum\",\"message\":\"🧹️ ⚠️ Vacuum could not return to dock\",\"data\":{\"tag\":\"\",\"actions\":[{\"title\":\"Find robot\",\"action\":\"notification.vacuum.roborock.find\"}]}}",
                "type": "json"
            },
            {
                "name": "log",
                "value": "{\"name\":\"Roborock (Node Red)\",\"entity_id\":\"vacuum.roborock\",\"message\":\"notified cannot return to dock\",\"domain\":\"notify\"}",
                "type": "json"
            },
            {
                "name": "message",
                "value": "🧹️ ⚠️ Vacuum in error state",
                "type": "str"
            },
            {
                "name": "log.name",
                "value": "Roborock (Node Red)",
                "type": "str"
            },
            {
                "name": "log.entity_id",
                "value": "vacuum.roborock",
                "type": "str"
            },
            {
                "name": "log.message",
                "value": "notified error",
                "type": "str"
            },
            {
                "name": "log_name",
                "value": "Weather (Node Red)",
                "type": "str"
            },
            {
                "name": "log_message",
                "value": "notified rain stopped",
                "type": "str"
            }
        ],
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "cd020188.01388",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Stop vacuum",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "stop",
        "entityId": "vacuum.roborock",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 670,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3f169e74.4b1ff2",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Docked",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "vacuum.roborock",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "docked",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 620,
        "wires": [
            [
                "38efc85c.2a0738"
            ],
            []
        ]
    },
    {
        "id": "38efc85c.2a0738",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 620,
        "wires": [
            [
                "757b6e2f.9ab07"
            ]
        ]
    }
]