flows.json
[
    {
        "id": "d9fe96b5.8701c8",
        "type": "tab",
        "label": "Simple automations",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b88bc227.1b73f",
        "type": "tab",
        "label": "Mobile action listeners",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9889ef6.6e2771",
        "type": "tab",
        "label": "Event listeners",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e2c67c6c.68265",
        "type": "tab",
        "label": "Reminders",
        "disabled": false,
        "info": ""
    },
    {
        "id": "670bc302.cb732c",
        "type": "subflow",
        "name": "Notify HA apps",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "5934701d.5e303"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 660,
                "y": 160,
                "wires": [
                    {
                        "id": "5a2b4568.2d2c5c",
                        "port": 0
                    }
                ]
            },
            {
                "x": 660,
                "y": 100,
                "wires": [
                    {
                        "id": "8495431f.f4f32",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "cfb8073e.876f88",
        "type": "subflow",
        "name": "Update light state",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 140,
                "wires": [
                    {
                        "id": "b62cc54a.e92368"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 340,
                "wires": [
                    {
                        "id": "bf7a5591.a95cc8",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "entity_id",
                "type": "str",
                "value": ""
            },
            {
                "name": "interval",
                "type": "num",
                "value": "50"
            },
            {
                "name": "delay",
                "type": "num",
                "value": "0"
            }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "ef414ae2.294578",
        "type": "subflow",
        "name": "Water plant reminder",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "3814e557.ab860a"
                    },
                    {
                        "id": "724f9552.1779dc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 80,
                "wires": [
                    {
                        "id": "3814e557.ab860a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 140,
                "wires": [
                    {
                        "id": "e56514f4.e1bd78",
                        "port": 0
                    }
                ]
            },
            {
                "x": 520,
                "y": 200,
                "wires": [
                    {
                        "id": "e56514f4.e1bd78",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "3efaa203.1c443e",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "addon": false,
        "rejectUnauthorizedCerts": false,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": false
    },
    {
        "id": "fea39eb8.12411",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Notifiy about rain",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "a4a51bd5.cbf1a8",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "If it's rainy",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "weather.kpvu_hourly",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "rainy",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 100,
        "wires": [
            [
                "27015fcf.eaa1e"
            ],
            []
        ]
    },
    {
        "id": "cfbda5ba.dea498",
        "type": "inject",
        "z": "d9fe96b5.8701c8",
        "name": "3 AM everyday ",
        "repeat": "",
        "crontab": "00 03 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "c499881d.445368"
            ]
        ]
    },
    {
        "id": "795b7b3e.e3f064",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Start vacuum",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "start",
        "entityId": "vacuum.roborock",
        "data": "",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 550,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "c499881d.445368",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Set max fan speed",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "set_fan_speed",
        "entityId": "vacuum.roborock",
        "data": "{\"fan_speed\":\"max\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 350,
        "y": 340,
        "wires": [
            [
                "795b7b3e.e3f064"
            ]
        ]
    },
    {
        "id": "f2f183f9.0381c",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Run vacumm every morning",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "3e215458.36073c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Vacuum error",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "vacuum.roborock",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "error",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "d46beef9.4f088"
            ],
            []
        ]
    },
    {
        "id": "d5b4c56e.e9c588",
        "type": "trigger-state",
        "z": "d9fe96b5.8701c8",
        "name": "Rain stopped",
        "server": "3efaa203.1c443e",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "weather.kpvu_hourly",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "p7a1tr6c15",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "rainy"
            },
            {
                "id": "vrfqo44y8r",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "rainy"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "228dd1fe.a262ce"
            ],
            []
        ]
    },
    {
        "id": "442ab0e0.9b202",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 480,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f5b4874.c820978",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 480,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "35e31cc.f48d0e4",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 480,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7c8c59df.9fc818",
        "type": "comment",
        "z": "670bc302.cb732c",
        "name": "Notify HA apps & logs to HA",
        "info": "",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "623970e8.0aa2f",
        "type": "server-events",
        "z": "b88bc227.1b73f",
        "name": "",
        "server": "3efaa203.1c443e",
        "event_type": "mobile_app_notification_action",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 190,
        "y": 60,
        "wires": [
            [
                "3c2f703.3aecf9"
            ]
        ]
    },
    {
        "id": "3c2f703.3aecf9",
        "type": "switch",
        "z": "b88bc227.1b73f",
        "name": "",
        "property": "payload.event.action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "notification.vacuum.roborock.find",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notification.garage.open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notification.garage.close",
                "vt": "str"
            },
            {
                "t": "regex",
                "v": "notification\\.plant\\.input_boolean\\..*\\.watered",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "752d962a.3714c8"
            ],
            [
                "586abfa1.56235"
            ],
            [
                "e38a2c4c.2afee"
            ],
            [
                "1c92d211.4bdb8e"
            ]
        ]
    },
    {
        "id": "752d962a.3714c8",
        "type": "api-call-service",
        "z": "b88bc227.1b73f",
        "name": "Find robot",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "vacuum",
        "service": "locate",
        "entityId": "vacuum.roborock",
        "data": "{ \"entity_id\": \"vacuum.roborock\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3ea02219.60e39e",
        "type": "inject",
        "z": "e2c67c6c.68265",
        "name": "8 PM Wednesday",
        "props": [],
        "repeat": "",
        "crontab": "00 20 * * 3",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "e6e88d4e.59b0e"
            ]
        ]
    },
    {
        "id": "5cad1124.07924",
        "type": "subflow:670bc302.cb732c",
        "z": "e2c67c6c.68265",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 580,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "815f4d5.29d7fb",
        "type": "comment",
        "z": "e2c67c6c.68265",
        "name": "Reminder to take trash in/out",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "42be322c.cb3ccc",
        "type": "inject",
        "z": "e2c67c6c.68265",
        "name": "4 PM Thursday",
        "props": [],
        "repeat": "",
        "crontab": "00 16 * * 4",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "e3a8c10d.9e079"
            ]
        ]
    },
    {
        "id": "a73fc1db.8105",
        "type": "subflow:670bc302.cb732c",
        "z": "e2c67c6c.68265",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 580,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "221dbd01.cfcc72",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 500,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "586abfa1.56235",
        "type": "api-call-service",
        "z": "b88bc227.1b73f",
        "name": "Open garage",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "open_cover",
        "entityId": "cover.garage_door",
        "data": "{ \"entity_id\": \"cover.garage_door\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 630,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e38a2c4c.2afee",
        "type": "api-call-service",
        "z": "b88bc227.1b73f",
        "name": "Close garage",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "cover",
        "service": "close_cover",
        "entityId": "cover.garage_door",
        "data": "{ \"entity_id\": \"cover.garage_door\" }",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 630,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7d9a63dd.b19d9c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Leave home",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "device_tracker.phone_m",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "not_home",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 640,
        "wires": [
            [
                "cacdd83b.903998"
            ],
            []
        ]
    },
    {
        "id": "82e5cfd.7e9fd3",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 500,
        "y": 640,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "30345639.3b764a",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Get/ leave home",
        "info": "",
        "x": 120,
        "y": 520,
        "wires": []
    },
    {
        "id": "83569a96.d150f8",
        "type": "trigger-state",
        "z": "d9fe96b5.8701c8",
        "name": "Get home",
        "server": "3efaa203.1c443e",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityid": "sensor.minh_home",
        "entityidfiltertype": "exact",
        "debugenabled": false,
        "constraints": [
            {
                "id": "josb7w1otd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "True"
            },
            {
                "id": "bcqqpcgvs1",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "False"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "state_type": "str",
        "x": 100,
        "y": 560,
        "wires": [
            [
                "35bc2563.b521fa"
            ],
            []
        ]
    },
    {
        "id": "8d434d29.85a88",
        "type": "api-call-service",
        "z": "9889ef6.6e2771",
        "name": "Set noctis theme",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "frontend",
        "service": "set_theme",
        "entityId": "",
        "data": "{\"name\":\"noctis\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 310,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "ddad8919.724b68",
        "type": "server-events",
        "z": "9889ef6.6e2771",
        "name": "",
        "server": "3efaa203.1c443e",
        "event_type": "call_service",
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "waitForRunning": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "901be019.50f94"
            ]
        ]
    },
    {
        "id": "c10ad374.4a6cd",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "USPS Delivered",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mail_usps_delivered",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 780,
        "wires": [
            [
                "b60867ef.dba148"
            ],
            []
        ]
    },
    {
        "id": "4257a54c.c5696c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "UPS Delivered",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mail_ups_delivered",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 840,
        "wires": [
            [
                "230417ea.7965a8"
            ],
            []
        ]
    },
    {
        "id": "7a0839f3.3014a8",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Fedex Delivered",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mail_fedex_delivered",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 120,
        "y": 900,
        "wires": [
            [
                "b43bd907.3ae248"
            ],
            []
        ]
    },
    {
        "id": "601b8ab1.27f8e4",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 720,
        "y": 880,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "b60867ef.dba148",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"count\": $$.data.new_state.state - $$.data.old_state.state, \"carrier\": \"USPS\" }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 780,
        "wires": [
            [
                "ec5c4d8e.e2185"
            ]
        ]
    },
    {
        "id": "230417ea.7965a8",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"count\": $$.data.new_state.state - $$.data.old_state.state, \"carrier\": \"UPS\" }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 840,
        "wires": [
            [
                "ec5c4d8e.e2185"
            ]
        ]
    },
    {
        "id": "b43bd907.3ae248",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"count\": $$.data.new_state.state - $$.data.old_state.state, \"carrier\": \"Fedex\" }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 900,
        "wires": [
            [
                "ec5c4d8e.e2185"
            ]
        ]
    },
    {
        "id": "257351ca.c2b3be",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "New package(s) delivered",
        "info": "",
        "x": 150,
        "y": 720,
        "wires": []
    },
    {
        "id": "68cc1ff9.b3b1e",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "USPS Mail Coming Today",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mail_usps_mail",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "34239bb9.636774"
            ],
            []
        ]
    },
    {
        "id": "15739cae.559ee3",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 560,
        "y": 1040,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e2f0473b.d22fe8",
        "type": "inject",
        "z": "9889ef6.6e2771",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "8d434d29.85a88"
            ]
        ]
    },
    {
        "id": "7434d2eb.da0c3c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Amazon Delivered",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.mail_amazon_packages_delivered",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "0",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 130,
        "y": 960,
        "wires": [
            [
                "91d7fb52.d922d8"
            ],
            []
        ]
    },
    {
        "id": "91d7fb52.d922d8",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"count\": $$.data.new_state.state - $$.data.old_state.state, \"carrier\": \"Amazon\" }",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 960,
        "wires": [
            [
                "ec5c4d8e.e2185"
            ]
        ]
    },
    {
        "id": "5a2b4568.2d2c5c",
        "type": "api-call-service",
        "z": "670bc302.cb732c",
        "name": "Notify HA apps",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": true,
        "service_domain": "notify",
        "service": "all_phone_app",
        "entityId": "",
        "data": "$$.payload.notification",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "8495431f.f4f32"
            ]
        ]
    },
    {
        "id": "8495431f.f4f32",
        "type": "api-call-service",
        "z": "670bc302.cb732c",
        "name": "Log",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "logbook",
        "service": "log",
        "entityId": "",
        "data": "$$.payload.log",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": true,
        "x": 550,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ec5c4d8e.e2185",
        "type": "function",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "func": "return {\n    \"payload\": {\n        \"notification\":\n        {\n            \"title\":\"Mails & Packages\",\n            \"message\":`📦 ${msg.payload.count} New package(s) from ${msg.payload.carrier} delivered`,\n            \"data\": {\n                \"tag\":\"package.delivered\",\n                \"priority\":\"high\",\n                \"ttl\":0\n            }\n        },\n        \"log\": {\n            \"name\": msg.payload.carrier,\n            \"entity_id\": msg.data.entity_id,\n            \"message\":\"notified delivered\",\n            \"domain\":\"notify\"\n        }\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 880,
        "wires": [
            [
                "601b8ab1.27f8e4"
            ]
        ]
    },
    {
        "id": "cacdd83b.903998",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Home\",\"message\":\"Are you leaving?\",\"data\":{\"tag\":\"tracker.away\",\"priority\":\"high\",\"ttl\":0,\"actions\":[{\"title\":\"Close garage\",\"action\":\"notification.garage.close\"}]}},\"log\":{\"name\":\"Phone_M (Node Red)\",\"entity_id\":\"device_tracker.phone_m\",\"message\":\"notified leaving home\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 640,
        "wires": [
            [
                "82e5cfd.7e9fd3"
            ]
        ]
    },
    {
        "id": "228dd1fe.a262ce",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Weather\",\"message\":\"⛅ It stopped raining\",\"data\":{\"tag\":\"weather.rain.stop\",\"priority\":\"normal\",\"ttl\":0}},\"log\":{\"name\":\"Weather (Node Red)\",\"entity_id\":\"weather.kpvu_hourly\",\"message\":\"notified rain stopped\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 180,
        "wires": [
            [
                "442ab0e0.9b202"
            ]
        ]
    },
    {
        "id": "27015fcf.eaa1e",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Weather\",\"message\":\"🌧️ It might be raining\",\"data\":{\"tag\":\"weather.rain.start\",\"priority\":\"high\",\"ttl\":0}},\"log\":{\"name\":\"Weather (Node Red)\",\"entity_id\":\"weather.kpvu_hourly\",\"message\":\"notified rain\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 100,
        "wires": [
            [
                "f5b4874.c820978"
            ]
        ]
    },
    {
        "id": "35bc2563.b521fa",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Home\",\"message\":\"Are you home?\",\"data\":{\"tag\":\"tracker.home\",\"priority\":\"high\",\"ttl\":0,\"actions\":[{\"title\":\"Open garage\",\"action\":\"notification.garage.open\"}]}},\"log\":{\"name\":\"Phone_M (Node Red)\",\"entity_id\":\"device_tracker.phone_m\",\"message\":\"notified getting home\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 560,
        "wires": [
            [
                "221dbd01.cfcc72"
            ]
        ]
    },
    {
        "id": "d46beef9.4f088",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Roborock Vacuum\",\"message\":\"🧹️ ⚠️ Vacuum in error state\",\"data\":{\"tag\":\"vacuum.error\",\"priority\":\"high\",\"ttl\":0,\"actions\":[{\"title\":\"Find robot\",\"action\":\"notification.vacuum.roborock.find\"}]}},\"log\":{\"name\":\"Roborock (Node Red)\",\"entity_id\":\"vacuum.roborock\",\"message\":\"notified error\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 420,
        "wires": [
            [
                "35e31cc.f48d0e4"
            ]
        ]
    },
    {
        "id": "e6e88d4e.59b0e",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Trash day\",\"message\":\"🗑Don't forget to take the trash out!\",\"data\":{\"tag\":\"trash.reminder\",\"priority\":\"high\",\"ttl\":0}},\"log\":{\"name\":\"Trash day reminder\",\"message\":\"reminded to take trash out\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "5cad1124.07924"
            ]
        ]
    },
    {
        "id": "e3a8c10d.9e079",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"After trash day\",\"message\":\"🗑Don't forget to take the trash IN!\",\"data\":{\"tag\":\"trash.reminder\",\"priority\":\"high\",\"ttl\":0}},\"log\":{\"name\":\"Trash day reminder\",\"message\":\"reminded to take trash IN\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 160,
        "wires": [
            [
                "a73fc1db.8105"
            ]
        ]
    },
    {
        "id": "38ffe2f9.d41c8e",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Living Room Light On",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.living_room",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "850099cd.2a80e8"
            ],
            []
        ]
    },
    {
        "id": "850099cd.2a80e8",
        "type": "api-current-state",
        "z": "d9fe96b5.8701c8",
        "name": "TV On",
        "server": "3efaa203.1c443e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "media_player.living_room_tv",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 330,
        "y": 1200,
        "wires": [
            [
                "f33e2978.d2d158"
            ],
            []
        ]
    },
    {
        "id": "557be09b.cd1a5",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "TV On",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.living_room_tv",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 1300,
        "wires": [
            [
                "f33e2978.d2d158"
            ],
            []
        ]
    },
    {
        "id": "f33e2978.d2d158",
        "type": "api-current-state",
        "z": "d9fe96b5.8701c8",
        "name": "After dark? (-1 hour offset)",
        "server": "3efaa203.1c443e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.after_dark_offset",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "36b728b3.a353a8"
            ],
            []
        ]
    },
    {
        "id": "d3b259b7.fccef8",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Set brightness",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.living_room",
        "data": "$$.payload ? {\t   \"entity_id\":\"light.living_room\",\t   \"brightness_pct\": $$.payload\t} : { \"entity_id\":\"light.living_room\" }",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 640,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "8bf21445.4b9538",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Set dimmer according to sun position & TV state",
        "info": "",
        "x": 220,
        "y": 1120,
        "wires": []
    },
    {
        "id": "36b728b3.a353a8",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "Bightness 50",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "50",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 1300,
        "wires": [
            [
                "d3b259b7.fccef8"
            ]
        ]
    },
    {
        "id": "7c62d47d.ecb98c",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "TV Off",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player.living_room_tv",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 1380,
        "wires": [
            [
                "75fc1d63.768cc4"
            ],
            []
        ]
    },
    {
        "id": "75fc1d63.768cc4",
        "type": "api-current-state",
        "z": "d9fe96b5.8701c8",
        "name": "Living Room Light On",
        "server": "3efaa203.1c443e",
        "version": 1,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "light.living_room",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 260,
        "y": 1380,
        "wires": [
            [
                "583192e7.17a02c"
            ],
            []
        ]
    },
    {
        "id": "583192e7.17a02c",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "Brightness 100",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "80",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1380,
        "wires": [
            [
                "d3b259b7.fccef8"
            ]
        ]
    },
    {
        "id": "e80845f5.8c8a68",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "After dark (-1 hour offset)",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.after_dark_offset",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "850099cd.2a80e8"
            ],
            []
        ]
    },
    {
        "id": "38735664.29c46a",
        "type": "server-state-changed",
        "z": "9889ef6.6e2771",
        "name": "",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.cabinet_light",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 240,
        "y": 320,
        "wires": [
            [
                "6fc54a8c.45b3d4"
            ]
        ]
    },
    {
        "id": "ef9ac3fa.d4873",
        "type": "server-state-changed",
        "z": "9889ef6.6e2771",
        "name": "",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "switch.hallway_light",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "x": 240,
        "y": 220,
        "wires": [
            [
                "2d5828c1.2bcb68"
            ]
        ]
    },
    {
        "id": "bf7a5591.a95cc8",
        "type": "api-call-service",
        "z": "cfb8073e.876f88",
        "name": "Update state",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "homeassistant",
        "service": "update_entity",
        "entityId": "",
        "data": "{ \"entity_id\": $env('entity_id') }",
        "dataType": "jsonata",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2282d523.7b19ca",
        "type": "function",
        "z": "cfb8073e.876f88",
        "name": "Light Toggle",
        "func": "const entity = env.get('entity_id');\nconst payloadEntity = msg.payload.event.service_data.entity_id;\nconst payloadDomain = msg.payload.event.domain;\n\nconst correctEntity = Array.isArray(payloadEntity) ? payloadEntity.includes(entity) : payloadEntity === entity;\nconst correctDomain = payloadDomain === 'switch' || payloadDomain === 'light';\nreturn { \n    payload: correctEntity && correctDomain\n};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "e944a0e9.8f98b"
            ]
        ]
    },
    {
        "id": "e944a0e9.8f98b",
        "type": "switch",
        "z": "cfb8073e.876f88",
        "name": "true",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 40,
        "wires": [
            [
                "e60caf73.30a49"
            ]
        ]
    },
    {
        "id": "e79da058.cfc2f",
        "type": "trigger",
        "z": "cfb8073e.876f88",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-50",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "bf7a5591.a95cc8",
                "18d7822a.92842e"
            ]
        ]
    },
    {
        "id": "1241bdd8.2da8c2",
        "type": "change",
        "z": "cfb8073e.876f88",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "18d7822a.92842e",
                "46f4751b.1d84fc"
            ]
        ]
    },
    {
        "id": "18d7822a.92842e",
        "type": "counter",
        "z": "cfb8073e.876f88",
        "name": "",
        "init": "0",
        "step": "1",
        "lower": "",
        "upper": "",
        "mode": "increment",
        "outputs": "1",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "48443e86.5bc42"
            ]
        ]
    },
    {
        "id": "48443e86.5bc42",
        "type": "switch",
        "z": "cfb8073e.876f88",
        "name": ">10",
        "property": "count",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "10",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "1241bdd8.2da8c2"
            ]
        ]
    },
    {
        "id": "b62cc54a.e92368",
        "type": "function",
        "z": "cfb8073e.876f88",
        "name": "Input handler",
        "func": "if (msg.topic === 'service') {\n    return [msg, null];\n}\n\nreturn [null, msg];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "2282d523.7b19ca"
            ],
            [
                "1241bdd8.2da8c2"
            ]
        ]
    },
    {
        "id": "46f4751b.1d84fc",
        "type": "switch",
        "z": "cfb8073e.876f88",
        "name": "",
        "property": "interval",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "125",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "e79da058.cfc2f"
            ],
            [
                "878b8c84.67094"
            ]
        ]
    },
    {
        "id": "878b8c84.67094",
        "type": "trigger",
        "z": "cfb8073e.876f88",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-125",
        "extend": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 500,
        "y": 360,
        "wires": [
            [
                "18d7822a.92842e",
                "bf7a5591.a95cc8"
            ]
        ]
    },
    {
        "id": "9d0384ee.324008",
        "type": "delay",
        "z": "cfb8073e.876f88",
        "name": "",
        "pauseType": "delay",
        "timeout": "50",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "46f4751b.1d84fc"
            ]
        ]
    },
    {
        "id": "e60caf73.30a49",
        "type": "switch",
        "z": "cfb8073e.876f88",
        "name": "",
        "property": "delay",
        "propertyType": "env",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "50",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "9ccfb807.631b88"
            ],
            [
                "9d0384ee.324008"
            ],
            [
                "893055ff.24d938"
            ]
        ]
    },
    {
        "id": "893055ff.24d938",
        "type": "delay",
        "z": "cfb8073e.876f88",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "46f4751b.1d84fc"
            ]
        ]
    },
    {
        "id": "9ccfb807.631b88",
        "type": "delay",
        "z": "cfb8073e.876f88",
        "name": "",
        "pauseType": "delay",
        "timeout": "0",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 490,
        "y": 140,
        "wires": [
            [
                "46f4751b.1d84fc"
            ]
        ]
    },
    {
        "id": "2d5828c1.2bcb68",
        "type": "subflow:cfb8073e.876f88",
        "z": "9889ef6.6e2771",
        "name": "Hallway Light",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.hallway_light",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "125",
                "type": "num"
            },
            {
                "name": "delay",
                "value": "100",
                "type": "num"
            }
        ],
        "x": 570,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6fc54a8c.45b3d4",
        "type": "subflow:cfb8073e.876f88",
        "z": "9889ef6.6e2771",
        "name": "Cabinet Light",
        "env": [
            {
                "name": "entity_id",
                "value": "switch.cabinet_light",
                "type": "str"
            },
            {
                "name": "delay",
                "value": "100",
                "type": "num"
            }
        ],
        "x": 570,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "901be019.50f94",
        "type": "change",
        "z": "9889ef6.6e2771",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "service",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6fc54a8c.45b3d4",
                "2d5828c1.2bcb68"
            ]
        ]
    },
    {
        "id": "34239bb9.636774",
        "type": "function",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "func": "return {\n    \"payload\": {\n    \"notification\": {\n        \"title\": \"Mails & Packages\",\n        \"message\": `✉️ ${msg.payload} New mail(s) coming today (around 1 PM)`,\n        \"data\": {\n            \"tag\": \"mail.coming\"\n        }\n    },\n    \"log\": {\n        \"name\": `USPS (${msg.payload})`,\n        \"entity_id\": \"sensor.mail_usps_mail\",\n        \"message\": \"notified coming today\",\n        \"domain\": \"notify\"\n    }\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1040,
        "wires": [
            [
                "15739cae.559ee3"
            ]
        ]
    },
    {
        "id": "c8e0447.3916eb8",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Master Bedroom Light On",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "light.master_bedroom",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 150,
        "y": 1500,
        "wires": [
            [
                "71c04cd.e7fc9b4"
            ],
            []
        ]
    },
    {
        "id": "71c04cd.e7fc9b4",
        "type": "function",
        "z": "d9fe96b5.8701c8",
        "name": "After 11 PM?",
        "func": "const now = new Date();\nlet cutoff = new Date();\ncutoff.setHours(23);\ncutoff.setMinutes(0);\ncutoff.setSeconds(0);\ncutoff.setMilliseconds(0);\n\nif (now > cutoff) {\n    return [{ payload: true }, null]\n}\n\nreturn [null, { payload: true }];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "d1b99c80.7fc79"
            ],
            []
        ]
    },
    {
        "id": "d1b99c80.7fc79",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Set brightness 40",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "light",
        "service": "turn_on",
        "entityId": "light.master_bedroom",
        "data": "{\"entity_id\":\"light.master_bedroom\",\"brightness_pct\":40}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 590,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "f083f14.47fa71",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Internet Usage >= 1000 GB",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.internet_monthly",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "1000",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "48c4e4a2.43e3bc"
            ],
            []
        ]
    },
    {
        "id": "48c4e4a2.43e3bc",
        "type": "api-current-state",
        "z": "e2c67c6c.68265",
        "name": "Not warned yet?",
        "server": "3efaa203.1c443e",
        "version": 1,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "override_topic": false,
        "entity_id": "input_boolean.internet_usage_warned",
        "state_type": "str",
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "blockInputOverrides": false,
        "x": 400,
        "y": 380,
        "wires": [
            [
                "6e45d80e.63eab8",
                "d17016fc.c86768"
            ],
            []
        ]
    },
    {
        "id": "bb31d941.e17f28",
        "type": "subflow:670bc302.cb732c",
        "z": "e2c67c6c.68265",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 800,
        "y": 380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6e45d80e.63eab8",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"notification\":{\"title\":\"Internet Usage\",\"message\":\"📶️ ⚠️ Internet usage near limit\",\"data\":{\"tag\":\"internet.usage.warn\",\"priority\":\"high\",\"ttl\":0}},\"log\":{\"name\":\"Internet Sensor (Node Red)\",\"entity_id\":\"sensor.internet_monthly\",\"message\":\"notified near limit\",\"domain\":\"notify\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 380,
        "wires": [
            [
                "bb31d941.e17f28"
            ]
        ]
    },
    {
        "id": "568292bb.39d2ac",
        "type": "cronplus",
        "z": "e2c67c6c.68265",
        "name": "First day of month",
        "outputField": "payload",
        "timeZone": "",
        "persistDynamic": false,
        "commandResponseMsgOutput": "output1",
        "outputs": 1,
        "options": [
            {
                "name": "schedule1",
                "topic": "schedule1",
                "payloadType": "default",
                "payload": "",
                "expressionType": "cron",
                "expression": "0 0 0 1 * *",
                "location": "",
                "offset": "0",
                "solarType": "all",
                "solarEvents": "sunrise,sunset"
            }
        ],
        "x": 130,
        "y": 440,
        "wires": [
            [
                "e9af206b.6f4e2"
            ]
        ]
    },
    {
        "id": "e9af206b.6f4e2",
        "type": "api-call-service",
        "z": "e2c67c6c.68265",
        "name": "Turn off already warned",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "input_boolean.internet_usage_warned",
        "data": "{\"entity_id\":\"input_boolean.internet_usage_warned\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 370,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d17016fc.c86768",
        "type": "api-call-service",
        "z": "e2c67c6c.68265",
        "name": "Turn on already warned",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "input_boolean.internet_usage_warned",
        "data": "{\"entity_id\":\"input_boolean.internet_usage_warned\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb006ea.4c4138",
        "type": "comment",
        "z": "e2c67c6c.68265",
        "name": "Internet Usage Warning",
        "info": "",
        "x": 140,
        "y": 340,
        "wires": []
    },
    {
        "id": "c8d3225.cb870e",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "IP address changed",
        "info": "",
        "x": 130,
        "y": 1620,
        "wires": []
    },
    {
        "id": "2aed5089.0f3de",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "IP address",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.ip_address",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "(\\d*)\\.(\\d*)\\.(\\d*)\\.(\\d*)\\b",
        "halt_if_type": "re",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "f7fc21a3.40a44",
                "19ab0dfe.37a172"
            ],
            []
        ]
    },
    {
        "id": "f7fc21a3.40a44",
        "type": "function",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "func": "return {\n    \"payload\": {\n        \"notification\": {\n            \"title\": \"IP address changed\",\n            \"message\": `🌐 ⚠️ Your IP address is now ${msg.payload}`,\n            \"data\": {\n                \"tag\": \"internet.ip.warn\",\n                \"priority\": \"high\",\n                \"ttl\": 0\n            }\n        },\n        \"log\": {\n            \"name\": \"IP address (Node Red)\",\n            \"entity_id\": \"sensor.ip_address\",\n            \"message\": \"notified changed\",\n            \"domain\": \"notify\"\n        }\n    }\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "10fff99c.cccc06"
            ]
        ]
    },
    {
        "id": "10fff99c.cccc06",
        "type": "subflow:670bc302.cb732c",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 460,
        "y": 1660,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "19ab0dfe.37a172",
        "type": "exec",
        "z": "d9fe96b5.8701c8",
        "command": "/data/projects/nodered/update-ip.sh",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Run update-ip.sh",
        "x": 310,
        "y": 1720,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "148dd72b.ccef89",
        "type": "comment",
        "z": "e2c67c6c.68265",
        "name": "Water Plants",
        "info": "",
        "x": 110,
        "y": 540,
        "wires": []
    },
    {
        "id": "4205df72.bac4b",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "ZZ",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_zz",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "ee4c629e.b840e"
            ],
            [
                "4d15f337.d6238c"
            ]
        ]
    },
    {
        "id": "3814e557.ab860a",
        "type": "api-call-service",
        "z": "ef414ae2.294578",
        "name": "",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{data.entity_id}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 260,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "e56514f4.e1bd78",
        "type": "subflow:670bc302.cb732c",
        "z": "ef414ae2.294578",
        "name": "",
        "env": [
            {
                "name": "notification",
                "value": "",
                "type": "json"
            },
            {
                "name": "log",
                "value": "",
                "type": "json"
            }
        ],
        "x": 380,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "724f9552.1779dc",
        "type": "function",
        "z": "ef414ae2.294578",
        "name": "",
        "func": "return {\n    \"payload\": {\n    \"notification\": {\n        \"title\": \"Water plant\",\n        \"message\": `🌱 Your plant (${msg.data.new_state.attributes.friendly_name}) needs a drink soon!`,\n        \"data\": {\n            \"tag\": `plant.water.${msg.data.entity_id}`,\n            \"actions\": [\n                {\n                    \"title\": \"Done!\",\n                    \"action\": `notification.plant.${msg.data.entity_id}.watered`\n                }\n            ],\n            \"clickAction\": \"/lovelace-test/plants\"\n        }\n    },\n    \"log\": {\n        \"name\": `Plant (${msg.data.new_state.attributes.friendly_name})`,\n        \"entity_id\": `${msg.data.entity_id}`,\n        \"message\": \"notified needs watering\",\n        \"domain\": \"notify\"\n    }\n}\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "e56514f4.e1bd78"
            ]
        ]
    },
    {
        "id": "90499b36.8a5898",
        "type": "subflow:ef414ae2.294578",
        "z": "e2c67c6c.68265",
        "name": "",
        "env": [],
        "x": 580,
        "y": 880,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d3a0d90.e0b4228",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Pothos Big",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_pothos_big",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 700,
        "wires": [
            [
                "b4a1240f.9ea478"
            ],
            [
                "d9cb0f88.4f107"
            ]
        ]
    },
    {
        "id": "beb05877.d30cf8",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Pothos Small",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_pothos_small",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "c3d8ad1c.53a4a"
            ],
            [
                "f4f0b0c.3c8b65"
            ]
        ]
    },
    {
        "id": "bc9bea1e.673028",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Jade",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_jade",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 900,
        "wires": [
            [
                "53950955.a77348"
            ],
            [
                "129067a9.eed3b8"
            ]
        ]
    },
    {
        "id": "32932262.3e8f3e",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Mums",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_mums",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "69f0e801.412128"
            ],
            [
                "987ac4ed.7ac288"
            ]
        ]
    },
    {
        "id": "7a9001e9.b68d3",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Cactuses",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_cactuses",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 100,
        "y": 1100,
        "wires": [
            [
                "8e543368.d549f"
            ],
            [
                "5e6a727a.394abc"
            ]
        ]
    },
    {
        "id": "ee4c629e.b840e",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "3 weeks",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "504",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 580,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "b4a1240f.9ea478",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "2 weeks",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "336",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 680,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "c3d8ad1c.53a4a",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "2 weeks",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "336",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 780,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "53950955.a77348",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "3 weeks",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "504",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 880,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "69f0e801.412128",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "2.5 days",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "60",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 980,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "8e543368.d549f",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "1 month",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "672",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 1080,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "1c92d211.4bdb8e",
        "type": "function",
        "z": "b88bc227.1b73f",
        "name": "Find correct plant",
        "func": "const action = msg.payload.event.action;\nconst re = /notification\\.plant\\.(input_boolean\\..*)\\.watered/;\nconst groups = re.exec(action);\nif (groups && groups.length > 0) {\n    return [{ payload: groups[1] }, null];\n}\nreturn [null, { payload: false }];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "5dc4ce70.cb33"
            ],
            []
        ]
    },
    {
        "id": "5dc4ce70.cb33",
        "type": "api-call-service",
        "z": "b88bc227.1b73f",
        "name": "Watered",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "input_boolean",
        "service": "turn_on",
        "entityId": "",
        "data": "{\"entity_id\":\"{{payload}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 820,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5e6a727a.394abc",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1120,
        "wires": [
            [
                "8e543368.d549f"
            ]
        ]
    },
    {
        "id": "987ac4ed.7ac288",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1020,
        "wires": [
            [
                "69f0e801.412128"
            ]
        ]
    },
    {
        "id": "129067a9.eed3b8",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 920,
        "wires": [
            [
                "53950955.a77348"
            ]
        ]
    },
    {
        "id": "f4f0b0c.3c8b65",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 820,
        "wires": [
            [
                "c3d8ad1c.53a4a"
            ]
        ]
    },
    {
        "id": "d9cb0f88.4f107",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 720,
        "wires": [
            [
                "b4a1240f.9ea478"
            ]
        ]
    },
    {
        "id": "4d15f337.d6238c",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 620,
        "wires": [
            [
                "ee4c629e.b840e"
            ]
        ]
    },
    {
        "id": "740e1525.b521ec",
        "type": "server-state-changed",
        "z": "e2c67c6c.68265",
        "name": "Aero Herbs",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.plant_aero_herbs",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 110,
        "y": 1200,
        "wires": [
            [
                "527bcb22.750ae4"
            ],
            [
                "ff77e5b2.04d948"
            ]
        ]
    },
    {
        "id": "527bcb22.750ae4",
        "type": "trigger",
        "z": "e2c67c6c.68265",
        "name": "2 days",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "47",
        "extend": true,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 270,
        "y": 1180,
        "wires": [
            [
                "90499b36.8a5898"
            ]
        ]
    },
    {
        "id": "ff77e5b2.04d948",
        "type": "change",
        "z": "e2c67c6c.68265",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 1220,
        "wires": [
            [
                "527bcb22.750ae4"
            ]
        ]
    },
    {
        "id": "c5ec2597.8245f8",
        "type": "server-state-changed",
        "z": "d9fe96b5.8701c8",
        "name": "Media player paused",
        "server": "3efaa203.1c443e",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "media_player",
        "entityidfiltertype": "substring",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "paused",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 2,
        "output_only_on_state_change": true,
        "x": 130,
        "y": 1860,
        "wires": [
            [
                "49856246.1d1fcc"
            ],
            [
                "d5ac8e28.031f3"
            ]
        ]
    },
    {
        "id": "49856246.1d1fcc",
        "type": "trigger",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "10",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 370,
        "y": 1860,
        "wires": [
            [
                "5abde545.1ca3cc"
            ]
        ]
    },
    {
        "id": "d5ac8e28.031f3",
        "type": "change",
        "z": "d9fe96b5.8701c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 1920,
        "wires": [
            [
                "49856246.1d1fcc"
            ]
        ]
    },
    {
        "id": "5abde545.1ca3cc",
        "type": "api-call-service",
        "z": "d9fe96b5.8701c8",
        "name": "Turn off",
        "server": "3efaa203.1c443e",
        "version": 1,
        "debugenabled": false,
        "service_domain": "media_player",
        "service": "turn_off",
        "entityId": "",
        "data": "{\"entity_id\":\"{{data.entity_id}}\"}",
        "dataType": "json",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 540,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "1b61e899.329287",
        "type": "comment",
        "z": "d9fe96b5.8701c8",
        "name": "Turn off speaker after 10 mins paused",
        "info": "",
        "x": 190,
        "y": 1820,
        "wires": []
    },
    {
        "id": "5934701d.5e303",
        "type": "function",
        "z": "670bc302.cb732c",
        "name": "",
        "func": "if (msg && msg.payload && msg.payload.notification) {\n    let data = msg.payload.notification.data || {};\n    if (!data.clickAction) {\n        msg.payload.notification.data = Object.assign(data, { clickAction: '/lovelace-test/default_view' });\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "5a2b4568.2d2c5c"
            ]
        ]
    }
]